@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";



/* * {
    outline: 1px solid red;
} */

body {
    font-family: "Outfit", sans-serif;
}